:root {
    --gold-500: hsl(31, 77%, 52%);
    --cyan-800: hsl(184, 100%, 22%);
    --green-950: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --gray-100: hsl(0, 0%, 95%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* =================
    Typography 
   ================= */

body {
    min-height: 100vh;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

h2 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    font-size: 2.25em; /* 36px */
}


p {
    font-size: 0.938rem; /* 15px */
}


/* =================
    Flex containers
   ================= */

body, ul {
    display: flex;
    flex-direction: column;
}

/* =================
    Main content
   ================= */

body {
    justify-content: center;
    align-items: center;
}


/* =================
    List
   ================= */

a {
    background-color: white;
    text-decoration: none;
    padding: 0.875em 1.75em; /* 14px 28px*/
    border-radius: 1.5em; /* 24px */
}

h2 {
    color: white;
    text-transform: uppercase;
}

li {
    flex: 1;
    padding: 3em 3em 4em 3em;
}

p {
    color: var(--transparent-white);
    line-height: 1.6;
    margin: 0 0 2.75em 0; /* 44px */
}

ul {
    list-style-type: none;
    width: 325px;
    padding: 0;
}

.sedans-category {
    background-color: var(--gold-500);
}

.sedans-category a {
    color: var(--gold-500);
}

.suvs-category {
    background-color: var(--cyan-800);
}

.suvs-category a {
    color: var(--cyan-800);
}

.luxury-category {
    background-color: var(--green-950);
}

.luxury-category a {
    color: var(--green-950);
}

/* =================
    Attribution
   ================= */

.attribution {
    font-size: 0.6875rem; /* 11px */
    text-align: center;
    color: hsl(228, 45%, 44%); 
}
