:root {
    --gold-500: hsl(31, 77%, 52%);
    --cyan-800: hsl(184, 100%, 22%);
    --green-950: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --gray-100: hsl(0, 0%, 95%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

h2 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
}

p {
    font-size: 0.938rem; /* 15px */
}

.attribution {
    font-size: 0.6875rem; /* 11px */
    text-align: center;
    color: hsl(228, 45%, 44%); 
}